:root {
    --bg-bege: #eecfa1;
    --bg-bege-escuro: #d4b276;
    --marrom-madeira: #704214;
    --verde-grama: #639b08;
    --preto: #181d1f;
    --branco: #ffffff;
    --dourado: #fbaf35;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    background: var(--bg-bege);
    color: var(--preto);
    font-size: 20px;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: var(--marrom-madeira);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.box-retro {
    background: transparent;
    border: 4px solid var(--marrom-madeira);
    box-shadow: 4px 4px 0 var(--preto);
    padding: 20px;
}

header {
    background: var(--marrom-madeira);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid var(--preto);
    position: sticky;
    top: 0;
}

.logo {
    color: var(--bg-bege);
    font-family: 'Press Start 2P', cursive;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--bg-bege);
    text-decoration: none;
}


.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

    background-image: url("./Stardewfundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    max-width: 850px;
    text-align: center;
    padding: 50px;

    background: repeating-linear-gradient(
        to bottom,
        #f0d3b0 0px,
        #f0d3b0 35px,
        #d8b48a 35px,
        #d8b48a 70px
    );

    border: 10px solid #5c3310;

    box-shadow:
        0 0 0 4px #2c1606,
        10px 10px 0 #181d1f;

    animation: entrada-stardew 2s ease-out;
}

.titulo-jogo {
    font-size: 67px;
    color: #ffd34d;
    text-shadow:
        3px 3px 0 #5c3310,
        6px 6px 0 #2c1606;
    margin-bottom: 25px;
    animation: brilho 2s infinite alternate;
}


.slogan {
    font-size: 34px;
    color: #000;
    text-shadow: none;
    margin-bottom: 10px;
}

.hero-texto {
    font-size: 28px;
    color: #000;
    text-shadow: none;
    margin: 20px 0;
}

.botao-pixel {
    background: var(--verde-grama);
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    border: 4px solid var(--preto);
    box-shadow: 4px 4px 0 var(--preto);
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    display: inline-block;
    transition: .2s;
}

.botao-pixel:hover {
    background: var(--dourado);
    color: var(--preto);
}

.botao-pixel:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 var(--preto);
}

.section {
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
}

.titulo-preto {
    font-size: 36px;
    color: var(--preto);
}

#sobre h2 {
    font-size: 32px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 30px;
}

.card {
    background: linear-gradient(
        to bottom,
        #e3a368 0%,
        #efb977 25%,
        #f9c679 50%,
        #efb977 75%,
        #e3a368 100%
    );

    text-align: center;
    transition: .2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-icon {
    font-size: 50px;
    margin-bottom: 15px;
}

.card-texto {
    margin-top: 20px;
}


.sobre-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    position: relative;

    background:
    repeating-linear-gradient(
        to bottom,
        #bda489 0px,
        #bda489 35px,
        #9a7c5e 35px,
        #9a7c5e 70px
    );

    border: 8px solid #704214;

    box-shadow:
        0 0 0 3px #4f2e0d,
        8px 8px 0 #181d1f;
}

.sobre-texto {
    flex: 1;
    min-width: 300px;
}

.moldura-galinhas{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 60px;
}
.fila-galinhas {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.galinha {
    width: 50px;
    height: auto;
}

footer {
    background: var(--marrom-madeira);
    color: var(--bg-bege);
    text-align: center;
    padding: 40px 20px;
}

footer p {
    color: var(--bg-bege);
}

h1:hover,
h2:hover {
    color: var(--dourado);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 15px;
    }

    h1 {
        font-size: 18px;
    }

    .hero-content {
        padding: 20px;
    }
}

@keyframes entrada-stardew {

    from {

        transform: translateY(250px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes brilho {
    from {
        text-shadow: 3px 3px 0 #5c3310;
    }
    to {
        text-shadow: 3px 3px 0 #5c3310, 0 0 10px #ffd34d;
    }
}

.sobre-container h2{
    text-align: left;
    white-space: nowrap;
    font-size: 22px;
    margin-bottom: 15px;
}

.sobre-container{
    align-items: flex-start;
}